<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Shopping List App</title>
    <link rel='stylesheet' href='main.css' />
  </head>
  <body>
    <div id='shopping-list'>
      <div class='header'>
        <!-- <h1> {{ header }} </h1> -->
          <!-- data() メソッドの中のプロパティの値を返します。 -->

        <!-- <h1> {{ header.toLocaleUpperCase() }} </h1> -->
          <!-- 式展開した中で、直接 JavaScript のコードを記述することもできます。 -->

        <!-- <h1> {{ header ? header : 'Welcome' }} </h1> -->
        <h1> {{ header || 'Welcome' }} </h1>
          <!-- 指定したプロパティが存在しなかった場合に右辺の値を表示します。 -->

        <button v-if='editing' @click='doEdit(false)' class='btn btn-cancel'>Cancel</button>
        <button v-else @click='doEdit(true)' class='btn btn-primary'>Add Item</button>
      </div>

      <div v-if='editing' class='add-item-form'>
        <input v-model='newItem' @keyup.enter='saveItem' type='text' placeholder='Add an item' />
        <!-- 
          v-model="プロパティ名"：非同期でリアルタイムに更新する。
          v-model.lazy="プロパティ名"：フォームからアクティブが外れたとき、更新する。
         -->

        <label>
          <input v-model='newItemHighPriority' type='checkbox'> High Priority
        </label>

        <button v-bind:disabled='newItem.length < 5' @click='saveItem' class='btn btn-primary'>Save Item</button>
          <!-- v-bind：指定したプロパティの値に応じて、動作を変える。 -->
          <!--
            @click="Vue.js での処理"：クリックしたときに処理を実行する。
            @keyup.enter="Vue.js での処理"：Enter キーを押下したときに処理を実行する。
          -->
      </div>

      <!-- 【参考】ラジオボタン，セレクトボックス，チェックボックスの値を非同期で取得する。 -->
      <!-- <label>
        <input v-model='newItemPriority' type='radio' value='Low'>Low
      </label>
      <label>
        <input v-model='newItemPriority' type='radio' value='High'>High
      </label><br /> -->

      <!-- <label>
        Priority
        <select v-model='newItemPriority'>
          <option value='Low'>Low</option>
          <option value='High'>High</option>
        </select>
      </label> -->

      <!-- <label>
        <input v-model='iceCreamFlavors' type='checkbox' value='Vanilla' />Vanilla
      </label>

      <label>
        <input v-model='iceCreamFlavors' type='checkbox' value='Chocolate' />Chocolate
      </label>

      <label>
        <input v-model='iceCreamFlavors' type='checkbox' value='Strawberry' />Strawberry
      </label>

      <label>
        <input v-model='iceCreamFlavors' type='checkbox' value='Cookies and Cream' />Cookies and Cream
      </label> -->

      <!-- {{ newItem }} {{ newItemPriority }} {{ newItemHighPriority }} -->

      <!-- <a v-bind:href='newItem'>Dynamic Link</a> -->
      <p v-if='items.length === 0'>Nice job! You've bought all your items!</p>

      <ul>
        <li v-for='item in items' @click='togglePurchased(item)' :key='item.id' :class="[ {strikeout: item.purchased}, {priority: item.highPriority}, 'static-class' ]">{{ item.label }}</li>
          <!-- Vue.js の繰り返し構文 -->
          <!-- :class 属性で、動的にクラスの True / False を設定する。 -->
      </ul>
    </div>

    <script src='https://unpkg.com/vue@3'></script>
    <script>
      const shoppingListApp = Vue.createApp({
        data() {
          return {
            header: 'Shopping List App',
            editing: false,
            newItem: '',
            newItemPriority: 'Low',
            newItemHighPriority: false,
            // iceCreamFlavors: [],
            items: [
              {id: 1, label: '10 party hats', purchased: true, highPriority: false},
              {id: 2, label: '2 board games', purchased: true, highPriority: false},
              {id: 3, label: '20 cups', purchased: false, highPriority: true}
          ]
          }
        },

        methods: {
          // Vue.js の処理を記述する。
          saveItem() {
            this.items.push({
              id: this.items.length + 1,
              label: this.newItem,
              highPriority: this.newItemHighPriority
            })

            this.newItem = ''
            this.newItemHighPriority = ''
          },

          doEdit(editing) {
            this.editing = editing
            this.newItem = ''
            this.newItemHighPriority = ''
          },

          togglePurchased(item) {
            item.purchased = !item.purchased
          }
        }
      }).mount('#shopping-list')
    </script>
  </body>
</html>